{% extends "layout/page.html" %} {% set role = role %} {% block content %}
<style type='text/css'>
   hr {
   margin: 2px;
   }
</style>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <h1>APE Fitting</h1>
</div>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <div class="col-6">
      <form method=post enctype=multipart/form-data action="/ape_fitting/plot">
         <div class="form-group row">
            <label for="formFile" class="form-label">Upload a file for fitting</label>
            <input type=file name=ape_file class="form-control" required>
         </div>
          <div class="form-group row">
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ header }}" id="header_check" name="header_check">
          <label class="form-check-label" for="header_check">
            Does this file have a header? (i.e. column titles)
          </label>
        </div>
          </div>
          <div class="form-group row">
              <label for="x_select">Which column contains the x-axis? (1 is the leftmost column)</label>
              <input type=number name=x_select min="1" value="{{ x_axis }}" class="form-control" required>
          </div>
          <div class="form-group row">
              <label for="data_select">Which column should be fit? (1 is the leftmost column)</label>
              <input type=number name=data_select min="1" value="{{ data_column }}" class="form-control" required>
          </div>
          <div class="form-group row">
            <input type=submit value=Upload class="form-control" id="formFile" required>
         </div>
      </form>
   </div>
<div class="card justify-content-left" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">How do I use this?</h5>
      <p class="card-text">Upload a .csv file and select which column to fit and which to use as the x-axis. The program will generate a plot of the selected column along with polynomial fits (linear order up to quartic), along with the best fit parameters in a table below the plot.<br>
    </p>
  </div>
</div>
</div>

{% if figures %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
<div id="plot">{{ plot_div|safe }}</div>
<div id="table">{{ table_div|safe }}</div>
</div>
{% endif %}
<script>
    if ({{ header }}){
        document.getElementById("header_check").checked = true;
    }
    document.getElementById('plot').scrollIntoView({ block: 'end',  behavior: 'smooth' });
</script>
{% endblock %}