{% extends "layout/page.html" %} {% set role = role %} {% block content %}
<style type='text/css'>
   hr {
   margin: 2px;
   }
</style>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <h1>APE Fitting</h1>
</div>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <div class="col-6">
      <form method=post enctype=multipart/form-data action="/ape_fitting/plot">
         <div class="form-group row">
            <label for="formFile" class="form-label">Upload a file for fitting</label>
            <input type=file name=ape_file class="form-control" required>
         </div>
          <div class="form-group row">
              <label for="x_select">Which column contains the x-axis? (1 is the leftmost column)</label>
              <input type=number name=x_select min="1" value="1" class="form-control" required>
          </div>
          <div class="form-group row">
              <label for="data_select">Which column should be fit? (1 is the leftmost column)</label>
              <input type=number name=data_select min="1" value="10" class="form-control" required>
          </div>
          <div class="form-group row">
            <input type=submit value=Upload class="form-control" id="formFile" required>
         </div>
      </form>
   </div>
<div class="card justify-content-left" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">How do I use this?</h5>
      <p class="card-text">Upload a .csv file and select which column to fit and which to use as the x-axis. The program will generate a plot of the selected column along with polynomial fits (linear order up to quartic), along with the best fit parameters in a table below the plot.<br>
{#<ul class="list-group">#}
{#    <li class="list-group-item"><b>wavenumber (cm-1)</b><br>The DFG wavelength in wavenumbers (cm-1)</li>#}
{#    <li class="list-group-item"><b>dfg_xtal</b><br>DFG crystal position (from APE Carmina)</li>#}
{#    <li class="list-group-item"><b>dfg_delay</b><br>DFG delay (from APE Carmina)</li>#}
{#    <li class="list-group-item"><b>output (mW)</b><br>DFG output power (from powermeter, mW)</li>#}
{#    <li class="list-group-item"><b>OPO_WL (nm)</b><br>OPO wavelength (from APE Carmina, nm)</li>#}
{#</ul>#}
    </p>
  </div>
</div>
</div>

{% if figures %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
<div id="plot">{{ plot_div|safe }}</div>
<div id="table">{{ table_div|safe }}</div>
</div>
{% endif %}
<script>
    document.getElementById('plot').scrollIntoView();
</script>
{% endblock %}