{% extends "layout/page.html" %} {% set role = role %} {% block content %}
<style type='text/css'>
   hr {
   margin: 2px;
   }
</style>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <h1>APE Fitting</h1>
</div>
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
   <div class="col-6">
      <form method=post enctype=multipart/form-data action="/ape_fitting/plot">
         <div class="form-group row">
            <label for="formFile" class="form-label">Upload a file for fitting</label>
            <input type=file name=ape_file class="form-control" required>
             <label for="data_select">Which column should be fit?</label>
                <select class="form-select" name="data_select" id="data_select">
                  <option value="opo_xtal">opo_xtal</option>
                  <option value="dfg_xtal">dfg_xtal</option>
                  <option value="dfg_delay">dfg_delay</option>
                  <option value="output (mW)">output (mW)</option>
                </select>
            <input type=submit value=Upload class="form-control" id="formFile" required>
         </div>
      </form>
   </div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">What is this?</h5>
    <p class="card-text">Here's some information so you, the user, knows what is going on here!</p>
  </div>
</div>
</div>

{% if figures %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
<div id="plot">{{ plot_div|safe }}</div>
<div id="table">{{ table_div|safe }}</div>
</div>
{% endif %}
<script>
    document.getElementById('plot').scrollIntoView();
</script>
{% endblock %}