{% extends "layout/page.html" %}
{% set role = role %}
{% block content %}
    <style type='text/css'>
        hr {
            margin: 2px;
        }
        plot {
            height: 100%;
        }
    </style>

<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
    <h1>File Conversions</h1>
</div>

<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
    <h3>Anasys .axz</h3>
        <div class="col-6">
        <form method=post enctype=multipart/form-data action="/conversions/axz">
            <div class="form-group row">
              <label for="axz_file" class="form-label">Upload an Anasys .axz file</label>
              <input type=file name=axz_file class="form-control" id = "axz_file"  required>
            </div>
            <div class="form-group row">
              <label for="axz_ref" class="form-label">Upload reference interferogram(s)</label>
              <input type=file name=axz_ref class="form-control" id = "axz_ref" required>
            </div>
            <div class="form-group row">
              <label for="sample_label" class="form-label">Sample label; leave blank to process all samples (e.g. "Spectrum 1")</label>
              <input type=text name=sample_label class="form-control" id = "sample_label" value = '{{ form_values[0] }}'>
            </div>
            <div class="form-group row">
              <label for="channel" class="form-label">Data channel name; leave blank to process all channels (e.g. "//ZI/DEV533/DEMODS/0/X")</label>
              <input type=text name=data_channel class="form-control" id = "data_channel" value = '{{ form_values[1] }}'>
            </div>
            <div class="form-group row">
              <label for="minWN" class="form-label">Wavenumbers lower bound</label>
              <input type=text name=minWN class="form-control" id = "minWN" value = {{ form_values[2] }} required>
            </div>
            <div class="form-group row">
              <label for="maxWN" class="form-label">Wavenumbers upper bound</label>
              <input type=text name=maxWN class="form-control" id = "maxWN" value = {{ form_values[3] }} required>
            </div>
            <div class="form-group row">
              <label for="cutoff" class="form-label">Cutoff</label>
              <input type=text name=cutoff class="form-control" id = "cutoff" value = {{ form_values[4] }} required>
            </div>
            <div class="form-group row">
              <label for="cutoff" class="form-label">Resonance lower bound</label>
              <input type=text name=resLB class="form-control" id = "resLB" value = {{ form_values[5] }} required>
            </div>
            <div class="form-group row">
              <label for="cutoff" class="form-label">Resonance upper bound</label>
              <input type=text name=resUB class="form-control" id = "resUB" value = {{ form_values[6] }} required>
            </div>
{#            <div class="form-group row">#}
{#              <label for="plot_spectra" class="form-label">Plot the spectra</label>#}
{#              <input type=form-check-input name=plot_spectra class="form-control" id = "plot_spectra">#}
{#            </div>#}
            <div class="form-group row">
                <input type=submit value=Convert class="form-control" id="formFile" required>
            </div>
        </form>
            <br>
            Note: This will return a .txt file containing two lists of python dictionaries (first are the spectra, second are the heightmaps). Dictionary keys are as follows.
<br>
            <br>
    <ul class="list-group">
    <li class="list-group-item"><b>Spectra Dictionary Keys</b></li>
    <li class="list-group-item"><b>label:</b> string</li>
    <li class="list-group-item"><b>data_channel:</b> string; the data channel recorded (e.g. demod 2 from a Zurich LI)</li>
    <li class="list-group-item"><b>state_pos_mm:</b> list of floats; the stage positions in mm of the interferogram</li>
    <li class="list-group-item"><b>data:</b> list of floats; containing the interferogram value at each stage_pos_mm value</li>
</ul>
<br>
<ul class="list-group">
    <li class="list-group-item"><b>Heightmaps Dictionary Keys</b></li>
    <li class="list-group-item"><b>label:</b> string</li>
    <li class="list-group-item"><b>data_channel:</b> string; the data channel recorded (e.g. demod 2 from a Zurich LI)</li>
    <li class="list-group-item"><b>dimensions:</b> tuple of integers (x,y); the dimensions of the scan</li>
    <li class="list-group-item"><b>data:</b> x by y list of floats; the scan data</li>
</ul>
</div>
</div>
{% if figures %}
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <h3>Spectra Plots</h3>
    </div>
    {% for plot in plots %}
        <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
            <div id="plot{{ loop.index }}">{{ plot|safe }}</div>
        </div>
    {% endfor %}
{% endif %}
    <script>
        document.getElementById('plot0').scrollIntoView();
    </script>
{% endblock %}