{% extends "layout/page.html" %}
{% set role = role %}
{% block content %}
    <style type='text/css'>
        hr {
            margin: 2px;
        }
    </style>
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
    <h1>Pump Probe</h1>
    <h3>Upload X and Y data from a pump probe scan</h3>
{#    <form method=post enctype=multipart/form-data action="/pumpprobe/plot">#}
{#      <p>#}
{#          X#}
{#          <input type=file name=file required>#}
{#      </p>#}
{#      <p>#}
{#          Y#}
{#          <input type=file name=file required>#}
{#      </p>#}
{#    <p>#}
{#        Use <input type=number name=fitnum min="1" max="3"  value="{{ numterms }}" required> exponential term(s) when fitting#}
{#        <br>#}
{#        Remove <input type=number name=removefront min="0" max="500" value="{{ front }}" required> picoseconds from the start#}
{#        <br>#}
{#        Remove <input type=number name=removeend min="0" max="500" value = "{{ back }}" required> picoseconds from the end#}
{#    </p>#}
{#        <p>#}
{#        <input type=submit value=Upload>#}
{#    </p>#}
{#    </form>#}

        <div class="col-6">
        <form method=post enctype=multipart/form-data action="/pumpprobe/plot">
            <div class="form-group row">
              <label for="xfile" class="form-label">X data</label>
              <input type=file name=file class="form-control" id = "xfile" required>
            </div>
            <div class="form-group row">
              <label for="yfile" class="form-label">Y data</label>
              <input type=file name=file class="form-control" id = "yfile" required>
            </div>
            <div class="form-group row">
                Use <input type=number name=fitnum min="1" max="3"  value="{{ numterms }}"  class="form-control" required> exponential term(s) when fitting
            </div>
            <div class="form-group row">
                Remove <input type=number name=removefront min="0" max="500" value="{{ front }}"  class="form-control" required> picoseconds from the start
            </div>
            <div class="form-group row">
                Remove <input type=number name=removeend min="0" max="500" value = "{{ back }}"  class="form-control" required> picoseconds from the end
            </div>
            <div class="form-group row">
                <input type=submit value=Upload class="form-control" id="formFile" required>
            </div>
        </form>
        </div>

    </div>
    {% if figures %}
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot1_div|safe }}</div>
    </div>
        <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot2_div|safe }}</div>
    </div>
    {% endif %}
{% endblock %}