{% extends "layout/page.html" %}
{% set role = role %}
{% block content %}
    <style type='text/css'>
        hr {
            margin: 2px;
        }
    </style>
    <h1>Calculators</h1>
    <h3>Wavenumbers/Wavelength Converter</h3>

<form method=post enctype=multipart/form-data>
      <p>
        <p>
          <label for="wavelength">Wavelength</label><br>
          <input type=number id="wavelength" onchange="convert(this)">nm
        </p>
        <p>
          <label for="wavenumbers">Wavenumbers</label><br>
          <input type=number id="wavenumbers" onchange="convert(this)">cm-1
        </p>
      </p>
    </form>

    <h3>&Chi;1 - Orpheus TWINS Calculator</h3>
    <form method=post enctype=multipart/form-data>
      <p>
        <p>
          <label for="twin1_signal">Twin 1 Signal:</label><br>
          <input type=number id="twin1_signal" onchange="twins_calc()">nm
        </p>
        <p>
          <label for="twin1_idler">Twin 1 Idler:</label><br>
          <input type=number id="twin1_idler" onchange="twins_calc()">nm
        </p>
        <p>
          <label for="twin2_signal">Twin 2 Signal:</label><br>
          <input type=number id="twin2_signal" onchange="twins_calc()">nm
        </p>
        <p>
          <label for="twin2_idler">Twin 2 Idler:</label><br>
          <input type=number id="twin2_idler" onchange="twins_calc()">nm
        </p>
        <p>
          <label for="dfg_out">DFG Output:</label><br>
          <input type=number id="dfg_out" onchange="twins_calc()">nm
        </p>
      </p>
    </form>
    {% if img_src %}
        <img src="/intfg.png">
    {% endif %}
    <script>
        function twins_calc() {
            var empty_fields = 0;
            var empty_field_name = "";
            var twin1_signal = document.getElementById("twin1_signal").value;
            const twin1_signal_element = document.getElementById("twin1_signal");
            if(!twin1_signal){
                empty_fields++;
                empty_field_name = "twin1_signal";
            }
            var twin1_idler = document.getElementById("twin1_idler").value;
            const twin1_idler_element = document.getElementById("twin1_idler");
            if(!twin1_idler){
                empty_fields++;
                empty_field_name = "twin1_idler";
            }
            var twin2_signal = document.getElementById("twin2_signal").value;
            const twin2_signal_element = document.getElementById("twin2_signal");
            if(!twin2_signal){
                empty_fields++;
                empty_field_name = "twin2_signal";
            }
            var twin2_idler = document.getElementById("twin2_idler").value;
            const twin2_idler_element = document.getElementById("twin2_idler");
            if(!twin2_idler){
                empty_fields++;
                empty_field_name = "twin2_idler";
            }
            var dfg_out = document.getElementById("dfg_out").value;
            const dfg_out_element = document.getElementById("dfg_out");
            if(!dfg_out){
                empty_fields++;
                empty_field_name = "dfg_out";
            }
            if(empty_fields == 1){
                if(empty_field_name == "twin1_signal"){
                    var twin1_signal_calc = 1/(1/515 - 1/twin1_idler);
                    twin1_signal_element.value = twin1_signal_calc;
                }
                if(empty_field_name == "twin1_idler"){
                    var twin1_idler_calc = 1/(1/515 - 1/twin1_signal);
                    twin1_idler_element.value = twin1_idler_calc;
                }
                if(empty_field_name == "twin2_signal"){
                    var twin2_signal_calc = 1/(1/1030 - 1/twin2_idler);
                    twin2_signal_element.value = twin2_signal_calc;
                }
                if(empty_field_name == "twin2_idler"){
                    var twin2_idler_calc = 1/(1/1030 - 1/twin2_signal);
                    twin2_idler_element.value = twin2_idler_calc;
                }
                if(empty_field_name == "dfg_out"){
                    var dfg_out_calc = 1/(1/twin2_signal - 1/twin1_idler);
                    dfg_out_element.value = dfg_out_calc;
                }
            }

    }

    function convert(element) {
        var calling_element_id = element.id;
        var wavelength = document.getElementById ("wavelength").value;
        const wavelength_element = document.getElementById("wavelength");
        var wavenumbers = document.getElementById("wavenumbers").value;
        const wavenumbers_element = document.getElementById("wavenumbers");
        if(calling_element_id == "wavenumbers"){
            var wavelength_calc = 10000000/wavenumbers;
            wavelength_element.value = wavelength_calc.toFixed(2);
        }
        if(calling_element_id == "wavelength"){
            var wavenumbers_calc = 10000000/wavelength;
            wavenumbers_element.value = wavenumbers_calc.toFixed(2);
        }
    }
    </script>
{% endblock %}