{% extends "layout/page.html" %}
{% set role = role %}
{% block content %}
    <style type='text/css'>
        hr {
            margin: 2px;
        }
        plot {
            height: 100%;
        }
    </style>
    <h1>NanoFTIR</h1>
    <h3>Upload an interferogram for analysis</h3>
    <form method=post enctype=multipart/form-data action="/nanoftir/plot">
      <p>
          <input type=file name=file>
          <input type=submit value=Upload>
      </p>
    </form>
    <br>
    <br>
    {% if figures %}
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot1_div|safe }}</div>
    </div>
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot2_div|safe }}</div>
    </div>
    {% endif %}
{% endblock %}