{% extends "layout/page.html" %}
{% set role = role %}
{% block content %}
    <style type='text/css'>
        hr {
            margin: 2px;
        }
        plot {
            height: 100%;
        }
    </style>
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <h1>NanoFTIR</h1>
        <div class="col-6">
        <form method=post enctype=multipart/form-data action="/nanoftir/plot">
            <div class="form-group row">
              <label for="formFile" class="form-label">Upload an interferogram for analysis</label>
              <input type=file name=file class="form-control" required>
              <input type=submit value=Upload class="form-control" id="formFile" required>
            </div>
        </form>
        </div>
    </div>
    {% if figures %}
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot1_div|safe }}</div>
    </div>
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
        <div id="plot">{{ plot2_div|safe }}</div>
    </div>
    {% endif %}
{% endblock %}